/* Start Footer */
footer {
  background-color: var(--main-color);
  width: 100%;
  padding: 70px 0;
  bottom: 0;
}
footer .container .boxes {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 100px;
  flex-wrap: wrap;
}

footer .box h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: var(--text-color);
}
footer .box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  width: 360px;
  padding: 10px 0;
  color: var(--text-color);
}
footer .box .social {
  display: flex;
  padding-left: 0;
}

footer .box .social li {
  margin-right: 10px;
}

footer .box .social a {
  background-color: rgba(70, 138, 70, 1);
  color: #ffffff !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-style: 20px;
  transition: var(--main-transition);
}
footer .social .face:hover {
  background-color: #1877f2;
}
footer .social .insta:hover {
  background-color: #e1306c;
}
footer .social .in:hover {
  background-color: #0a66c2;
}
footer .social .x:hover {
  background-color: #14171a;
}
footer .social .tube:hover {
  background-color: #ff0000;
}
footer .box .links {
  padding: 0;
}
footer .box .links li {
  padding: 10px 0;
  transition: var(--main-transition);
}
footer .box .links li a {
  color: var(--text-color);
  font-weight: 300;
  text-decoration: none;
}

footer .box .links li:hover a {
  color: var(--border-color);
}
footer .container .boxes {
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
}
footer .container .rights {
  color: var(--text-color);
  padding: 25px 0;
  margin: 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
footer .container .rights p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}

/* End Footer */
/**************************************************************/
/* Media Query  */
@media (min-width: 768px) {
}
/* Large */
@media (max-width: 1316px) and (min-width: 1250px) {
  /* Footer */
}

@media (max-width: 1249px) and (min-width: 1135px) {
}

@media (max-width: 1135px) and (min-width: 1050px) {
}

@media (max-width: 1050px) and (min-width: 992px) {
}

/* Mobile */
@media (max-width: 767px) {
  footer .container .boxes {
    flex-basis: auto;
  }
}
@media (max-width: 516px) {
  footer .container .boxes {
    flex-direction: column;
  }
}
/***************************/

@media (max-width: 370px) {
  footer .box p {
    width: 340px;
  }
}
/**********************************************************************************/
